[submodule "Vivo"]
	path = Vivo
	url = https://github.com/vivo-project/Vivo
[submodule "Vitro"]
	path = Vitro
	url = https://github.com/vivo-project/Vitro
[submodule "vivo-cuboulder"]
	path = vivo-cuboulder
	url = https://github.com/cu-boulder/vivo-cuboulder
[submodule "facetedsearch"]
	path = facetedsearch
	url = https://github.com/cu-boulder/facetedsearch
